.editDeveloper {
  display: flex;
  flex-direction: row;
  min-height: 30px;
}

.editDeveloper input {
  margin-right: 8px;
}

.editDeveloper button {
  margin-left: auto;
}

.formItem {
  display: flex;
}

.formItem input {
  margin-right: 8px;
  width: 100%;
  flex: 1 1 auto;
}

.btnAction {
  background-color: #198754;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  padding: 5px;
  width: 60px;
}
