.addDeveloper {
  display: flex;
  flex-direction: row;
  margin: 0 0 8px 0;
  width: 100%;
}

.addDeveloper button {
  margin-left: auto;
}

.formItem {
  display: flex;
}

.formItem input {
  margin-right: 8px;
  width: 100%;
  flex: 1 1 auto;
}
